
.boutton {
    color: var(--text-color);
    border-radius: 5px !important;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem;

    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid var(--border-color);
    background: transparent;
    font-weight: bold;
  }
  .boutton:hover {
    /* padding: 6px 18px; */
    transition: var(--transition);
    color: var(--text-color);
    background-color: #00cc00;
    border-color: transparent;
  }
  @media screen and (max-width: 600px) {
    .boutton {
   margin-left: 32%;
    }
    
  }
 