.sign-in{
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
}
.inscription{
    /* display: grid;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    width: 30%;
    height: 80%;
    border: 2px solid var(--border-color);
    background-color: var(--text-color);
    margin-left: 35%;
    /*  */
}
.inscription-left{
    margin-top: 15%;
}

.inscription-left h1 {
    color: var(--second-color);
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-weight: 500;
}

.inscription-left p {
    color: var(--background);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 60px;
}


.inscription-left-input {
    display: block;
    gap: 30px;
    align-items: center;
    margin-left: 15%;
    margin-top: 20px;
}

.inscription-left-input input {
    width: 80%;
    height: 2rem;
    border: 1px solid var(--border-color);
    padding-left: 50px;
    padding-right: 30px
}

input {
    margin-top: 10px;
}

label {
    font-weight: 900;
}

.inscription-left-input label {
    width: 100%;
    color: var(--gray-clair-color);
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-with-icon {
    position: relative;
    margin-bottom: 20px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-top: 5px;
    width: 30px;
}

.input-icon-right {
    position: absolute;
    top: 60%;
    right: 25%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
}

.inscription-left a {
    margin-left: 30%;
    margin-top: 10%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}


/*Media Query*/
@media screen and (max-width: 1024px) {
    .inscription {
        width: 100%;
        height: 741px;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3%;

    }

    .inscription-left {
        width: 70%;
        height: 710px;
        border: 1px solid var(--border-color);
        margin-top: 20px;
        margin-left: 40px;

    }

    .inscription-left button {
        margin-left: 30%;
    }
}

@media screen and (max-width: 600px) {
    .inscription {
        width: 100%;
        height: 741px;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3%;

    }

    .inscription-left {
        width: 70%;
        height: 710px;
        border: 1px solid var(--border-color);
        margin-top: 20px;
        margin-left: 40px;

    }

    .inscription-left button {
        margin-left: 12%;
    }
}