.servir {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 40px;
}

.servir-img {
    display: flex;
    gap: 10px;
}
.servir p{
    color: var(--second-color);
}
.servir .icon{
    color: var(--second-color);

}
@media screen and (max-width: 600px) {
    .servir p{
        color: var(--second-color);
        width: 100%;
        font-size: 13px;
    }
    
  }